body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #1e1e1e;
}

#profile_background {
  border: 1px solid #3c3c3c;
  max-width: 100%;
  height: auto;
  filter: blur(3px);
  opacity: 0.4;
}
